/* Copyright 2015 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  margin-left: 20px;
  margin-right: 20px;
}

/* Navigation bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.navbar {
  float: left;
  padding: 5px;
}
a.navbar {
  display: block;
  width: 150px;
  background-color: #B2CFB9;
  font-weight: bold;
  text-align: center;
}

td, th {
  text-align: left;
}
ul.errorlist {
  color: #DF0101;
  font-weight: bold;
}
table {
  margin-top: 30px;
  margin-bottom: 30px;
}
h1, h2, h3 {
  color: #0B3B17;
}

table.build_list, table.annotations_list {
  border: 1px solid green;
  width: 100%;
  display: inline;
}
th.build_list, th.annotations_list {
  background-color: #0B3B17;
  color: #F2F5A9;
  text-align: center;
}
td.build_list, td.annotations_list {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  display: inherit;
}
tr.build_item_pass {
  background-color: #B2DF99;
}
tr.build_item_inflight {
  background-color: #DDDF99;
}
tr.build_item_fail {
  background-color: #DF99A9;
}
tr.build_item_aborted {
  background-color: #C499DF;
}

th.build_details, td.build_details {
  padding-right: 30px;
  background-color: #E6E6E6;
}

.hidden {
  display: none;
}
.shown {
  display: block;
}

a.external_link:after {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background: transparent url("images/popup_link.png") no-repeat;
}

div.centered_div_container {
  text-align: center;
}
div.centered_div_block {
  display: inline-block;
  margin: auto;
}
